body{
    background-color: #FFFBFB;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:18px;
}
.wrapper{
    max-width: 900px;
    padding-left: 315px;
    padding-left: 15px;
    margin: 0 auto
}
.nav{
    display:flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}
.nav>li{
    margin-left: 20px;
    margin-right: 20px;
}
.nav>li>a{
    text-decoration: none;
    color:#4B3638;
}
.header{
    display: flex;
    align-items: center;
    background-image:url(../img/marble.jpg);
}
.logo{
    color:#361621;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.logo-image{
    display:block;
    width:69px;
    height: 69px;
    background-image: url(../img/logo.png);
    margin-right:10px;
}
.banner{
    background-image: url(../img/banner1.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 100 px;
    padding-bottom: 100 px;
    line-height: 2.2;
    color:#311010;
}
.title{
    font-size: 48px;
    font-size: 700;
    color:#311010;
}
.title-h2{
    font-size: 48px;
    font-size: 700;
    color:#311010;
}
.banner p{
    margin-bottom: 35px;
    max-width: 150;
}
.btn{
    color:#311010;
    text-decoration:none;
    border-radius: 20px;
    border:2px solid#7D6B71;
    background-color: transparent;
    padding: 4px 4px;
    margin-left: 20 px;
}
.btn:hover{
    background-color:#7D6B71;
    color: #311010;
}
.bg1{
    background-image:url(../img/bg1.png) ;
    padding: 80px 40px;
}
.bg2{
    background-image: url(../img/bg2.png);
    padding: 150px 40px;
}
.grid{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-gap: 15px;
}
.grid-item-title{
 grid-column: 1/4;
 grid-row: 2/2;
}
.grid-item-img{
    grid-column: 4/5;
    grid-row: 2/2;
    text-align: center;
}
.grid-item-01{
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    padding: 15px 30px;
}
.grid-item-02{
    grid-column: 3/5;
    grid-row: 3/4;
    text-align: center;
    padding: 15px 30px;
}
.grid-title{
    font-size: 36px;
    font-size: 700;
    color:#311010;
}
.grid-btn{
    color:#311010;
    text-decoration:none;
    border-radius: 20px;
    border:2px solid#7D6B71;
    background-color: transparent;
    padding: 4px 4px;
    margin-left: 20 px;
}
.grid-btn:hover{
    background-color:#7D6B71;
    color: #311010;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
h2{
    text-align: center;
}
figure {
    text-align: center;
  }